body {
    background: #F8F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
article{
    width: 150vh;
    height: 10px;
    filter: drop-shadow(rgba(0, 0, 0,0.25) 0px 5px 20px);
    display: flex;
}

svg{
    background-color: white;
    padding: 50px;
    width: 900px;
    height: 700px;
    padding-left: 100px;
    border-radius: 30px;
    padding-left: 200px;
}

path {
    fill: #3e5fbf;
    stroke: #ffffff;
    stroke-width: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
}

path:hover {
    fill: #cc0102;
    stroke: #ffffff;
    stroke-width: 2.5;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.popup:target {
  display: flex;
}

.popup-content {
    border: 3px solid black;
    background: #fff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.close {
    display: inline-block;
    margin-top: 20px;
    background: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
}
.close:hover {
    background: #444;
}

#texte-carte{
    width: 150px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #1C2F66;
    color: #1C2F66;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: fixed;
    left: 1em;
    top: 20em;
}

#texte-carte img{
    width: 70px;
    height: 70px;
}