@font-face {
    font-family: 'NATS';
    src: url('assets/fonts/NATS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BEBAS';
    src: url('assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FREDOKA';
    src: url('assets/fonts/fredoka.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


:root {
    --bleu-fonce: #1C2F66;
    --bleu-deep: #1D3060;
    --bleu: #0A3D91;
    --bleu-ciel: #3e5fbf;
    --rouge-fonce: #BF0606;
    --rouge-deep:#A41015;
    --rouge: #cc0102;
    --background-gradient: linear-gradient(180deg, #f8f9fa 0%, #f0f0ff 50%);
    --border-radius-bloc: 15px;

}

body {
    background: #F8F9FA;
    background: var(--background-gradient);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    font-family: 'NATS';
    color: var(--bleu-fonce);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 3px solid var(--rouge);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    justify-content: center;
    height: 50px;
    margin-right: 50px;
    padding-right: 15em;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 100px;
    height: 100px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin: 0;
    padding-right: 3em;
    list-style: none;
}

.left a {
    text-decoration: none;
    color: #1C2F66;
}

.right a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1C2F66;
}

.right a img {
    width: 28px;
    height: 28px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 280px;
    color: white;
    font-family: 'NATS';
}

.haut-footer{
    background-color: var(--bleu-ciel);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.haut-footer h1{
    font-size: 36px;
}

.haut-footer h2{
    font-size: 32px;
}

.haut-footer .contact{
    display: flex;
}

.haut-footer h3{
    font-size: 20px;
}

.bas-footer{
    background-color: var(--bleu-fonce);
    height: 70px;
    display: flex;
    font-size: 10px;
    justify-content: center;
}

.contact-email , .contact-tel , .contact-adr{
    width: 30em;
    height: 10em;
    text-align: center;
}

.contact-email{
    border-right: 3px solid white;
}


.contact-tel{
    border-right: 3px solid white;
}